<% var config = SARAH.ConfigManager.getConfig();  %> 
<%- partial('../fragments/layout-header') %>
  
<% var config = SARAH.ConfigManager.getConfig();  %>
<div id="container" class="container">
  <div class="stretch row">
      <div class="stretch col-md-2 hidden-print">
        <div id="navbar" >
          <h2 id="time"></h2>
          <script>setInterval(function time(){ document.getElementById('time').innerHTML = moment().format("HH:mm"); return time; }(), 10000);</script>
		  <% if (nav !== 'controls') { %>
          <p class="text-center" style="font-size: 20px; padding: 10px;"><a href="/controls" class="btn btn-red" style="padding: 5px 30px">Panneau de contrôle</a></p>
            
          <ul class="nav">
  		  	<li <%= nav == 'home' ? "class='active'" : "" %>><a href="/home" id="homeMenu">Accueil</a></li>
            <li <%= nav == 'store' ? "class='active'" : "" %>><a href="/store" id="storeMenu">Store</a></li>
            <li <%= nav == 'rules' ? "class='active'" : "" %>><a href="/rules" id="rulesMenu">Règles</a></li>
            <li <%= nav == 'kinect'? "class='active'" : "" %>><a href="/kinect">WebSocket</a></li>
            <li <%= nav == 'about' ? "class='active'" : "" %>><a href="/about">A propos</a></li>
          </ul>
          
          <% if (nav == 'home' && !SARAH.PluginManager.hasPlugins()) { %>
            <%- partial('../fragments/popover') %>
          <% } %>
          
          <% if (nav === 'home') { %>
          <p class="text-center" style="font-size: 20px; padding: 20px;"><span class="glyphicon glyphicon-ok-circle"></span></p>
          
          <ul class="nav">
            <li class='active'><a href="#modules"  data-toggle="tab">Module</a></li>
            <li>               <a href="#phantoms" data-toggle="tab">Phantom</a></li>
            <li>               <a href="#cron"     data-toggle="tab">C.R.O.N.</a></li>
          </ul>
          <% } %>
          
          <p class="text-center" style="font-size: 20px; padding: 20px;"><span class="glyphicon glyphicon-ok-circle"></span></p>
            
          <ul class="nav">
            <li><a href="http://encausse.wordpress.com/s-a-r-a-h/s-a-r-a-h-documentation/">Documentation</a></li>
            <li><a href="http://plus.google.com/u/0/communities/105964514508504667709">Communauté</a></li>
            <li><a href="http://encausse.spreadshirt.fr/">Boutique</a></li>
            <li><a href="https://mapsengine.google.com/map/edit?mid=zwdZSL38CZZM.kKTHzTbZC0kQ">Cartographie</a></li>
            <li><a href="http://encausse.net/s-a-r-a-h/" class="navbar-link">Encausse.net</a></li>
          </ul>
          
          <p class="text-center" style="font-size: 20px; padding: 20px;"><span class="glyphicon glyphicon-ok-circle"></span></p>
          <% } %>
          
        </div>
      </div>
      

      <%- body -%>

      
      <div class="stretch col-md-2 hidden-print" >
        <div id="navchat">
		  <% if (nav == 'controls') { %>
		  <h2>Informations système</h2>
		  <h3 id="news"></h3>
		  <script>setInterval(function monitor(){$.ajax({type:"GET",url:"/sarah/monitor",success:function(msg){document.getElementById('news').innerHTML = msg.replace(/\n/g, "<br>")},error:function(){document.getElementById('news').innerHTML = "Erreur";}});return monitor;}(),360000);</script>
		  <% } else { %>
          <h2>Live</h2>
          <h2 class="head" style="text-align: center"><img src="images/headline-logo.png" id="headline-logo" width="200"/></h2>
          
          <p id="ticker"><%= SARAH.ConfigManager.getTicker() %></p>
          
          <h3>Encausse.net <span class="glyphicon glyphicon-export"></span></h3>
          <ul id="news">
          <% 
            var feed = SARAH.getRSSFeed('http://encausse.wordpress.com/category/domotique/sarah/feed/')
	          for(var i = 0 ; feed && i < 6 && i < feed.items.length ; i++){
	            var item = feed.items[i];
	        %>
	        <li>
	          <span class='glyphicon glyphicon-record'></span>
	          <a href="<%= item.link %>"><%= item.title %></a>
	        </li>
	        <% } %>
          </ul>
		  <% } %>
        </div>
      </div>
  
  </div>
</div>
    
<%- partial('../fragments/layout-footer') %>

