<% layout('layouts/layout') %>
<%
var modes = {
	'standard': {
		'name': 'Standard',
		'icon': 'home',
		'rule': [true, false],
		'data': [] },
	'travail': {
		'name': 'Travail',
		'icon': 'briefcase',
		'rule': [false, false],
		'data': [['du_salon', 1],['du_bureau', 1]] },
	'nuit': {
		'name': 'Nuit',
		'icon': 'dashboard',
		'rule': [true, true],
		'data': [['all', 0]] },
	'film': {
		'name': 'Film',
		'icon': 'film',
		'rule': [false, false],
		'data': [['all', 0]] },
	'manuel': {
		'name': 'Manuel',
		'icon': 'wrench',
		'rule': [false, false],
		'data': [] },
	'off': {
		'name': 'OFF',
		'icon': 'off',
		'rule': [false, false],
		'data': [['all', 0]] } }
var acteurs = {
	'eclairage': {
		'name': 'Eclairage',
		'data': {
			'du_salon': ['Lumière salon', 'Contrôle de l\'halogène du salon'],
			'du_bureau': ['Lumière bureau', 'Contrôle de la lumière du bureau'] } },
	'equipements': {
		'name': 'Equipements',
		'data': {
			'chauffage': ['Chauffage', 'Contrôle du chauffage'],
			'entree': ['Porte d\'entrée', 'Contrôle de l\'ouverture de la porte'] } } }
%>
<div class="stretch col-md-8 content" id="controls" style="padding-left: 50px">
	<h1>Panneau de contrôle</h1>
	<ul class="square-buttons">
		<% for (id in modes) { %>
		<li><div class="depth"><div class="mode" id="<%= id %>"><span class="glyphicon glyphicon-<%= modes[id]['icon'] %>"></span><br><%= modes[id]['name'] %></div></div></li>
		<% } %>
	</ul>
	<% for (cat in acteurs) { %>
	<h2><%= acteurs[cat]['name'] %></h2>
	<table width="80%" class="table table-striped <%= cat %>">
		<tr>
			<th>Nom</th>
			<th width="100px"></th>
		</tr>
		<% for (id in acteurs[cat]['data']) { %>
		<tr>
			<td><%= acteurs[cat]['data'][id][0] %><p class="description"><%= acteurs[cat]['data'][id][1] %></p></td>
			<td><div class="toggler" id="<%= id %>">&#xF011;</div></td>
		</tr>
		<% } %>
	</table>
	<% } %>
</div>
<form method="POST" id="rules" action="/rules">
	<input type="hidden" name="if" value="before">
	<input type="hidden" name="script" value=" ">
	<input type="hidden" name="then" value="">
	<input type="hidden" name="disabled" value="true">
	<input type="hidden" name="if" value="after">
	<input type="hidden" name="script" value=" ">
	<input type="hidden" name="then" value="">
	<input type="hidden" name="disabled" value="true">
	<input type="hidden" name="if" value="detecteurs">
	<input type="hidden" id="script" name="script" value="">
	<input type="hidden" name="then" value="lumieres">
	<input type="hidden" id="state" name="disabled" value="">
</form>
<script>
	$(document).ready(function() {
		$('.eclairage .toggler').each(function(index, element) {
			$.ajax({
				type: 'GET',
				url: '/sarah/lumieres',
				data: {action: 'get', id: $(element).attr('id')},
				success: function(msg){
					if (msg=='1') {
						$(element).addClass('on');
					} else if (msg!='0') {
						$.notify('Etat incorrect', 'error');
					}
				},
				error: function(){
					$.notify('Erreur', 'error');
				}
			});
		});
	});
	$('.mode').click(function() {
		$('.active').removeClass('active');
		$(this).parent().addClass('active');
		switch($(this).attr('id')) {
			<% for (id in modes) { %>
			case '<%= id %>':
				rule(<%= modes[id]['rule'][0] %>, <%= modes[id]['rule'][1] %>);
				<% for (acteur in modes[id]['data']) { %>
					<% if (modes[id]['data'][acteur][0]=='all') { %>
				$('.eclairage .toggler').each(function(index, element) { toggle($(element).attr('id'),<%= modes[id]['data'][acteur][1] %>); });
					<% } else { %>
				toggle('<%= modes[id]['data'][acteur][0] %>', <%= modes[id]['data'][acteur][1] %>);
					<% } %>
				<% } %>
				break;
			<% } %>
		}
	});
	$('.toggler').click(function () { toggle($(this).attr('id'),$(this).hasClass('on') ? '0':'1'); });
	function toggle(name, state){
		var start = new Date().getTime();
		while((new Date().getTime()- start) < 250) {}
		$.ajax({
			type: 'GET',
			url: '/sarah/lumieres',
			data: {action: 'set', id: name, etat: state},
			success: function(msg){
				if(msg=='') {
					$.notify('Pas de réponse', 'warn');
				} else {
					if (state=='1') {
						$('#'+name).addClass('on');
					} else {
						$('#'+name).removeClass('on');
					}
					$.notify(msg, 'success');
				}
			},
			error: function(){
				$.notify('Erreur', 'error');
			}
		});
	}
	function rule(state, tmp){
		$('#script').val('var date = new Date();\noptions.action="set";\noptions.id="0";\noptions.declencheur="1";\noptions.tmp=' + tmp + '\nif (date.getHours() > 18 || date.getHours() < 8) {\n  if (options.code=="5139785") {\n    options.id="du salon";\n    options.etat="1";\n  }\n}');
		$('#state').val(!state);
		$.post('/rules', $('#rules').serialize(), function(msg){ if(msg=='') { $.notify('Pas de réponse', 'warn'); } else { $.notify('Succès', 'success'); }});
	}
</script>